section{
	padding: 80px 0;
}

h5{
	padding: 26px 0 40px 0;
}

hr{
	width: 40px;
}

#main{
	background: url(../img/bg.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
}

footer{
	padding: 20px;
}

#first_name, #last_name{
	text-transform: capitalize;
}

@media (max-width: 600px){
	#main{
		background-position: 30% 0;
		background-size: 400%;
	}
}
